[Unit]
Description=Droid Service
After=network.target

[Service]
WorkingDirectory=/home/pi/Droid
ExecStart=/home/pi/Droid/scripts/run_droid_service.sh
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target